{{ define "main" }}
  <article class="max-w-full">
    <header>
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title }}
      </h1>
    </header>

    <section class="prose mt-6 max-w-none dark:prose-invert">
      {{ .Content }}
    </section>

    <section class="mt-10">
      {{ range .RegularPages.ByTitle }}
        <article class="mb-8">
          <h2 class="text-xl font-semibold">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>

          {{ if not .Draft }}
            <div class="mt-1 text-sm text-neutral-500 dark:text-neutral-400">
              {{ time.Format ":date_long" .Date }} · 1 min
            </div>
          {{ end }}
        </article>
      {{ end }}
    </section>
  </article>
{{ end }}